<!DOCTYPE html>
<html lang="en">

<head> 
 	<meta charset="utf-8">
    <title>User Page</title>
    <link rel="stylesheet" type="text/css" href="/style/User_Profile.css">
 </head>


 <body>
 	<div class="header">
  		<h1>My Great Otaku List</h1>
	</div>
 <div id="NavigationBar">
	<ul>
		<li id = "left"><a href="/index">Home</a></li>
		<li id = "left"><a href="/AllAnime">All Anime List</a></li>	
		<li id = "left"><a href="/SuggestAnime">Request an Anime</a></li>
		<li id = "logout"><a id = "l1" href="/users/logout">Log out</a></li>
		<li id = "userName"><a id = "l2" href="/userprofile">Hello, {{userName}}</a></li>
		
	</ul>
 </div>

 <div id="ProfilePicture">
 		<img src="/img/avatar.svg"  alt="Avatar" class="avatar">
 </div>

 <div id="ProfileInfo">
 	<h1>Profile Information</h1>
 	<ul>
 		<li class="name"><h2>Username:<span id = "username"> {{userName}}</span></h2></li>
 		<li class="email"><h2>Email:<span id = "email"> {{email}}</span></h2></li>
 		<li class="dob"><h2>Date of Birth:<span id = "dob"> {{dob}}</span></h2></li>
 	</ul>
 </div>

 <div id="ProfileStatistics">
 	<h1>Statistics</h1>
 	<ul>
 		<li><h2>Number of Review(s):<span id = "numReviews"> {{reviewCount}}</span></h2></li>
 		<li><h2>Pending Reports(s):<span id = "numReports"> {{reportCount}}</span></h2></li>
 	</ul>
 </div>

 <div id="Reviews">
 	<h1>Reviews</h1>
 	<ul id = "reviewlist">
 	</ul>
 </div>
<form id="editProfile">
 	<button type="button" id="edit_profile">Edit Profile</button>
 </form>

 <script type="text/javascript" src="/js/User_Profile.js"></script>
 <script type="text/javascript" src="/js/changeLogin.js"></script>
 <script>var x = "{{userName}}"; update(x); updateReviews(x);</script>
 </body>

 </html>